.page {
  width: min(100% - 4rem, var(--container-width));
  margin: 0 auto;
  padding: 5rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;

  @include media-breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
